<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @* Start Header*@
    <nav class="mt-5">
        <center>
            <a class="btn btn-primary" href="/Home/Index">Home</a>
            <a class="btn btn-secondary" href="/Home/AboutUs">AboutUs</a>
            <a class="btn btn-success" href="/Home/Privacy">Privacy</a>
            <a class="btn btn-warning" href="/Home/ContactUs">ContactUs</a>
            <a class="btn btn-danger" href="/Account/Login">Login</a>
            <a class="btn btn-info" href="/Account/Register">Register</a>
        </center>
    </nav>
    @* End Header*@
    <div>
        @RenderBody()
    </div>
    @*Start Footer*@
    <center>
        <div>
            <p> CopyRights &copy; Route @DateTime.Now.Year</p>
        </div>
    </center>
    @*End Footer*@
</body>
</html>
